* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #fefefe;
  --bg-secondary: #f8fafc;
  --border: #E2E8F0;
  --main-font: #222222;
  --point: #764BA2;
  --green: #27AE60;
  --blue: #3498DB;
  --red: #E74C3C;
  --gray: #BBBBBB;
  --shadow: 0 2px 30px 0 rgba(0, 27, 55, 0.1);
  --size-56: 56px;
  --size-16: 16px;
  --size-24: 24px;
  --size-20: 20px;
  --size-14: 14px;
  --border-radius: 16px;
  --mt-100: 100px;
  --mt-20: 20px;
  --mt-120: 120px;
  --mt-40: 40px;
  --mt-80: 80px;
  --mt-8: 8px;
  --mt-24: 24px;
  --mt-5: 5px;
  --mt-10: 10px;
  --mt-12: 12px;
}

[data-theme="dark"] {
  --bg-primary: #151820;
  --bg-secondary: #24242C;
  --border: #31343E;
  --main-font: #FEFEFE;
  --point: #AF2E29;
  --green: #27AE60;
  --blue: #3498DB;
  --red: #E74C3C;
  --gray: #BBBBBB;
  --shadow: 0 2px 30px 0 rgba(206, 206, 206, 0.1);
  --size-56: 56px;
  --size-16: 16px;
  --size-24: 24px;
  --size-20: 20px;
  --size-14: 14px;
  --border-radius: 16px;
  --mt-100: 100px;
  --mt-20: 20px;
  --mt-120: 120px;
  --mt-40: 40px;
  --mt-80: 80px;
  --mt-8: 8px;
  --mt-24: 24px;
  --mt-5: 5px;
  --mt-10: 10px;
  --mt-12: 12px;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Regular";
  src: url("../font/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Bold";
  src: url("../font/Pretendard-SemiBold.woff2") format("woff2");
}

body {
  font-family: "Regular";
  background-color: var(--bg-primary);
  line-height: 1.3;
  color: var(--main-font);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app {
  width: 100%;
  position: relative;
}

#nav {
  position: fixed;
  top: var(--mt-20);
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(34, 34, 34, 0.1);
  backdrop-filter: blur(16px);
  padding: var(--mt-20) var(--mt-40);
  border-radius: var(--border-radius);
  z-index: 999;
}

#nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--mt-40);
}

#nav li {
  color: var(--gray);
  font-family: "bold";
  cursor: pointer;
}

.nav_active {
  color: var(--main-font) !important;
}

.theme_toggle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: var(--mt-40);
  top: var(--mt-40);
  cursor: pointer;
  z-index: 999;
  transition: transform 0.3s;
}

.theme_toggle:hover {
  transform: rotate(180deg);
}

.container {
  position: relative;
  max-width: 920px;
  margin: 0 auto;
  padding: 0 var(--mt-40);
  flex: 1;
}

#section1,
#section2 {
  position: relative;
  width: 100%;
  margin-top: var(--mt-120);
}

#section1 h2 {
  font-size: var(--size-24);
  text-align: center;
  margin-top: var(--mt-100);
  line-height: 1;
}

#section1 h1 {
  font-size: var(--size-56);
  margin-top: var(--mt-20);
  text-align: center;
  line-height: 1;
}

#section1 h1 span {
  color: var(--point);
}

#section1 .tech_box {
  max-width: 800px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  border: 1px solid var(--border);
  margin: var(--mt-120) auto 0 auto;
  overflow: hidden;
  font-size: var(--size-16);
}

#section1 .tech_box .top_wrap {
  width: 100%;
  height: 60px;
  padding: var(--mt-20);
  border-bottom: 1px solid var(--border);
  background-color: var(--bg-secondary);
}

#section1 .tech_box .top_wrap ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--mt-8);
}

#section1 .tech_box .top_wrap li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.red_bg {
  background-color: var(--red);
}

.blue_bg {
  background-color: var(--blue);
}

.green_bg {
  background-color: var(--green);
}

#section1 .tech_box .bottom_wrap {
  padding: var(--mt-40);
}

.red_font {
  color: var(--red);
}

.blue_font {
  color: var(--blue);
}

.green_font {
  color: var(--green);
}

#section2 h1 {
  text-align: center;
  font-size: var(--size-56);
}

#section2 .project_box {
  margin-top: var(--mt-80);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--mt-40);
}

#section2 .project_list {
  position: relative;
  width: 400px;
  height: 500px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: transform 0.3s;
}

#section2 .project_list:hover {
  transform: translateY(-12px);
}

#section2 .project_list .top_wrap {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--border);
  font-size: var(--size-16);
}

#section2 .project_list .content_wrap {
  padding: var(--mt-40);
  padding-bottom: 0;
}

#section2 .project_list .content_wrap h2 {
  font-size: var(--size-20);
}

#section2 .project_list .content_wrap p {
  margin-top: var(--mt-24);
}

#section2 .project_list .tag_wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--mt-8);
  padding: var(--mt-24) var(--mt-40);
}

#section2 .project_list .tag_wrap .tag_list {
  font-size: var(--size-14);
  color: var(--bg-primary);
  background-color: var(--point);
  padding: var(--mt-5) var(--mt-10);
  border-radius: 50px;
}

#section2 .project_list .bottom_wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid var(--border);
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--mt-40);
  font-family: "Bold";
  color: var(--point);
  font-size: var(--size-16);
}

#section3 {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: var(--mt-120);
}

#section3 h1 {
  font-size: var(--size-56);
  line-height: 1;
}

#section3>p {
  font-size: var(--size-20);
  margin-top: var(--mt-20);
}

#section3 .feedback_box {
  width: 100%;
  position: relative;
  margin-top: var(--mt-80);
}

#section3 .feedback_box input {
  width: 100%;
  height: 60px;
  color: var(--main-font);
  padding: var(--mt-20) var(--mt-40);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  font-size: var(--size-16);
  font-family: "Regular";
  background-color: transparent;
}

#section3 .feedback_box input:focus {
  outline: 1px solid var(--point);
}

#section3 .feedback_box #inp_content {
  margin-top: var(--mt-12);
}

#section3 .feedback_box .btn_box {
  display: flex;
  align-items: center;
  justify-content: end;
}

#section3 .feedback_box .submit {
  color: var(--bg-primary);
  font-size: var(--size-16);
  background-color: var(--point);
  border-radius: var(--border-radius);
  padding: var(--mt-10) var(--mt-20);
  cursor: pointer;
  border: none;
  margin-top: var(--mt-12);
}

#section3 .feedback_box .comment_box {
  margin-top: var(--mt-20);
}

#section3 .feedback_box .comment_list {
  padding: var(--mt-20) var(--mt-40);
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius);
  text-align: left;
  margin-top: var(--mt-12);
}

#section3 .feedback_box .comment_list .name {
  font-family: "Bold";
  font-size: var(--size-16);
}

#section3 .feedback_box .comment_list .content {
  margin-top: var(--mt-20);
  font-size: var(--size-16);
}

#footer {
  width: 100%;
  padding: var(--mt-24);
  text-align: center;
  margin-top: var(--mt-120);
  background-color: var(--bg-secondary);
}

.fade {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.3s;
}

.fade_show {
  opacity: 1;
  transform: translateY(0);
}

.dis_none {
  display: none;
}

@media (max-width : 960px) {
  :root {
    --size-56: 40px;
    --size-16: 14px;
    --size-24: 18px;
    --size-20: 16px;
    --size-14: 12px;
    --mt-40: 24px;
  }

  [data-theme="dark"] {
    --size-56: 40px;
    --size-16: 14px;
    --size-24: 18px;
    --size-20: 16px;
    --size-14: 12px;
    --mt-40: 24px;
  }
}

@media (max-width : 600px) {
  .dis_none {
    display: block;
  }

  .container h1 {
    line-height: 1.3 !important;
  }

  :root {
    --size-24: 14px;
  }

  [data-theme="dark"] {
    --size-24: 14px;
  }
}